.container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 1.5rem;
  --theme: orange;
  --rotation: 2deg;
}

.container:focus-within {
  background-color: white;
}

.container[data-value="0"] {
  --theme: gray;
  --rotation: -2deg;
}

.container[data-value="1"] {
  --theme: lightgreen;
  --rotation: 0deg;
}

.container[data-value="2"] {
  --theme: purple;
  --rotation: 2deg;
}

.container[data-value="3"] {
  --theme: orange;
  --rotation: 4deg;
}

.container[data-value="4"] {
  --theme: red;
  --rotation: 6deg;
}

.topping {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 40rem) {
  .topping {
    width: 3rem;
    height: 3rem;
  }
}

.topping svg {
  width: 100%;
  height: 100%;
}

.inputGroup {
  flex: 1 1 auto;
}

.labelContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.25rem;
}

@media (min-width: 40rem) {
  .labelContainer {
    margin-bottom: 0;
  }
}

.labelValue {
  position: relative;
  font-size: 1rem;
}

.labelValue:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.5em;
  background-color: var(--theme, orange);
  opacity: 0.4;
  border-radius: 2px;
  transform: rotate(var(--rotation, 2deg));
  transform-origin: center;
}

.label {
  display: block;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 0.9rem;
  font-weight: 800;
  opacity: 0.9;
}

.input {
  appearance: none;
  width: 100%;
  height: 1.5rem;
  background-color: #ECD88D;
  border-radius: 4px;
  box-shadow: inset 0 2px 4px 0 rgba(0,0,0,0.12);
}

.input:focus {
  outline: none;
}

.input::-webkit-slider-thumb {
  appearance: none;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 100px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.2);
}

@media (min-width: 40rem) {
  .input {
    height: 0.75rem;
    border-radius: 100px;
  }

  .input::-webkit-slider-thumb {
    width: 1rem;
    height: 1rem;
  }
}
