.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pizzaList {
  margin: 0;
  padding: 0;
}

.pizzaListItem {
  width: 100%;
  max-width: 24rem;
  min-width: 20rem;
  list-style-type: none;
}

@media (min-width: 40rem) {
  .pizzaListItem {
    width: 75%;
  }
}